<h1>Confirmation de votre compte SNOWTRICKS</h1>

<p> {{ user.username }} !</p>

<p>Pour finaliser votre inscription, veuillez cliquer sur le lien pour activer votre compte</p>

<p><a href={{ absolute_url(path('app_verify', {token: token, id: user.id})) }}>Activer mon compte</a></p>

<p>À bientôt Rider !</p>