{% extends 'base.html.twig' %}

{% block container %}

<div id="forgot-page" class="d-flex flex-column justify-content-center">

    <div class="text-center">
        <img src="/pictures/question-logo.png" alt="Mot de passe oublié ?" height="60px">
    </div>
    <h1 class="text-center">Mot de passe oublié</h1>
    <p class="text-center">Alors ? On a un petit trou de mémoire ?</p>
    {% include "includes/_alerts.html.twig" %}
    <div class="row justify-content-center">
    {{ form_start(form) }}
        <div class="mb-3 col-11 col-md-8 col-lg-4 mx-auto">
            <div class="form-group">
                {{ form_widget(form.email) }}
            </div>
        </div>
        <p class="text-center">
            <button class="btn btn-primary" type="submit">Envoyer</button>
        </p>
    {{ form_end(form) }}
    </div>

</div>

{% endblock %}