{% extends 'base.html.twig' %}

{% block container %}
<div id="new-password-page" class="d-flex flex-column justify-content-center">

    <h1 class="text-center">Nouveau mot de passe</h1>
    <p class="text-center">Celui-là, il faut s'en souvenir 😉</p>
    <div class="row justify-content-center">
    
    {{ form_start(form) }}
        <div class="mb-3 col-11 col-md-8 col-lg-4 mx-auto">
            <div class="form-group">
                {{ form_widget(form.password) }}
            </div>
        </div>
        <p class="text-center">
            <button class="btn btn-primary" type="submit">Changer</button>
        </p>
    {{ form_end(form) }}

    </div>

</div>
{% endblock %}